*.iml
.gradle
/local.properties
.idea
.gitignore
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
funnukids.jks
app/release
app/build
.kotlin
app/.gitignore
app/google-services.json
